<div class="menu">
	<form class="navbar-form navbar-left">
		<div class="form-group">
			<input type="text" placeholder="Search By Key Word" ng-model="query" class="form-control">
		</div>
	</form>
</div>

<table class="table">
	<thead>
		<tr>
			<th># Views</th>
			<th>Topic</th>
			<th>Tag</th>
			<th>Created</th>
			<th>Author</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-class-even="'even'" ng-class='{selected: $index==selectedRow}'
			ng-click="selectBlog($index)"
			ng-repeat="blog in blogs | filter:query | orderBy:'created'">
			
			<th scope="row">{{blog.views}}</th>
			<td>
				<a href="/#/blog/{{blog.slug}}">{{ blog.title | limitTo: 70 }}</a>
			</td>
			<td>
				<a ng-repeat="tag in blog.tags" class="btn btn-default btn-xs" href="/#/tag/{{tag.slug}}" role="button">{{tag.name}}</a>
			</td>
			<td>{{ blog.created_at | date:'yyyy-MM-dd (HH)' }}</td>
			<td>{{ blog.author }}</td>
		<tr>
	</tbody>
</table>