{% extends 'base.html' %} 

{% block title %} - {{ page_title }} {% endblock %} 

{% load staticfiles %} 
{% block content %} 
{% load i18n %}

<table id="blogs" class="table">
	<thead>
		<tr>
			<th># Views</th>
			<th>Topics</th>
			<th>Date</th>
			<th>Author</th>
		</tr>
	</thead>
	<tbody>
		{% for blog in blogs %}
		<tr>
			<th scope="row">{{blog.views}}</th>
			<td>
				<p><a href="/blog/{{blog.id}}">{{ blog.title }}</a><p>
				<p>
					{% for tag in blog.tag_set %}
					<a class="btn btn-default btn-xs" href="/tag/{{tag.id}}" role="button">{{tag.name}}</a>
					{% endfor %} 
				<p>
			</td>
			<td>{{ blog.created_at }}2016-12-22 23:34:45</td>
			<td>{{ blog.author }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>


{% endblock %}
